// import barlow semi condensed font
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// import all the components to the index.scss file
@import './components/resets';
@import './components/variables';
@import './components/cards';
@import './components/footer';


// set font-size to the root to enable the usage of rem for the fonts
:root {
  font-size: 13px;
}


// // styles for body
body {
  width: 100%;
  // background-color: rgb(234, 245, 249);
  background-color: hsl(196, 55.6%, 94.7%);
  font-family: $barlow-semi-condensed, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  overflow-x: hidden;
}

@media (max-width: 700px) {
  body {
    padding: 0.2rem;
  }
}